* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer-container {
    bottom: 0;
    width: 1440px;
    background: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-container img {
    margin-top: 35px;
}

.text-footer {
    color: #fff;
    font-size: 27px;
    font-weight: 500;
    margin-top: 33px
}


@media screen and (max-width: 375px) {
    .text-footer {
    font-size: 12px;
    margin-top: 34px;
    }
    .footer-container {
        width: 375px;
    }
    .footer-container img {
        width: 122px ;
        height: 39.44px ;
    }
}

@media screen and (min-width: 376px) {
    .text-footer {

    }
    .footer-container {

    }
}


@media screen and (max-width: 1440px) {
    .footer-container {
        width: auto;
    }
    .text-footer {
        font-size: 24px;
        margin-top: 32px;
    }
}