.banner,
.banner_about {
	background-position: center;
	background-size: cover;
	border-collapse: separate;
	border-radius: 10px;
	display: flex;
	height: 111px;
	align-items: center;
}

.banner_title {
	color: white;
	font-size: 48px;
	font-weight: 500;
	padding: 16px;
}

.banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Banner_1.png");
}

.banner_about {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Banner_2.png");
}


@media screen and (max-width: 768px) {
	.banner_title {
		font-size: 28px;
    	display: flex;
    	justify-content: center;
		margin: auto;
	}
}	

@media screen and (min-width: 769px) {
	.banner,
	.banner_about {
		height: 223px;
		justify-content: center;
	}
	.banner_title {
		font-size: 40px;
	}	
}

@media screen and (max-width: 375px) {
	.banner_title {
        font-size: 24px;
    }
}

@media screen and (min-width: 993px) {
	.banner_title {
	  font-size: 48px;
	}
}